body {
    /*background-color: #1e3947;*/
    background-color: aliceblue;
}

div#rodape {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15%;
    
    background-color: white;
    
}

img#logo {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transform: translate(0%, -50%);
}
h1 {
    position: absolute;
    top: 25%;
    left: 100px;
    
    margin: 0%;
    color: #1E3947;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;

    
}

h1#info {
    position: absolute;
    top: 15%;
    left: 0.5%;
    width: 100%;
    color: #091216;
    text-align: center;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    
}

#p1 {
    position: absolute;
    top: 20%;
    left: 0.5%;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: black;
    
}

#imgd {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 10%;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 153, 255, 0.452);
    transform: translate(-50%, -50%);
}

#dowdow {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#btn_dow_windowns {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 40%;
    height: 7%;
    border-radius: 20px;
    border: 3px solid rgb(0, 153, 255);
    background-color: rgb(50, 53, 205);
    color: white;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.461);
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#btn_dow_windowns:hover {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.461);
    transition: .1s;
    
}

#btn_dow_linux {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 40%;
    height: 7%;
    border-radius: 20px;
    border: 3px solid rgb(0, 153, 255);
    background-color: rgb(50, 53, 205);
    color: white;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.461);
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#btn_dow_linux:hover {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.461);
    transition: .1s;
    
}

div#opçoes {
    position: absolute;
    
    top: 50%;
    left: 70%;
    transform: translate(0%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
    display: flex;
    transition: .2s;
}



span#menu {
    display: none;
}

a.opp {
    margin: 20px;
    color: #1E3947;
    cursor: pointer;
    padding: 8px;
    height: 25px;
    border-radius: 20px;
    text-decoration: none;
    
}

a.opp2 {
    
    position: absolute;
    color: #585858;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    height: 25px;
    text-decoration: none;
    display: none;
}


a#dow:hover, a#so:hover, a#ini:hover {
    

    
    transition: .5s;
}

img#money_index {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 20%;
    height: 40%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.596);
    border-radius: 10px;
    transform: translate(-50%, -50%
    );
}

div#apresenta {
    position: absolute;
    top: 59%;
    left: 60%;
    width: 40%;
    color: #1E3947;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid gray;
    transform: translate(-50%, -50%);
}

div#apresenta2 {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 70%;
    color: #1E3947;
    background-color: aliceblue;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid gray;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

div#apresenta > p#apres {
    color: #1E3947;
    font-size: 11pt;
    font-family: 'Courier New', Courier, monospace;
}

div#apresenta > a#link_down {
    color: #1E3947;
    font-size: 11pt;
    font-family: 'Courier New', Courier, monospace;
}

img#zap {
    cursor: pointer;
}

#papp {
    position: absolute;
    top: 170%;
    left: 0%;
    color: #1E3947;
    background-color: aliceblue;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: justify;

}

#app {
    position: absolute;
    top: 250%;
    left: 85%;
    width: 85%;
    height: 130%;
    transform: translate(-50%, -50%);
    margin-bottom: 5%;
    
    border-radius: 20px;
}





